@import url('https://fonts.cdnfonts.com/css/satoshi');

                
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}
header{
    padding: 2px 3rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}
.menu-bar{
    visibility: hidden;
}
.menu{
    display: flex;
    align-items: center;
}
.menu-link{
    text-decoration: none;
    color: #757575;
    font-size: 20px;
}
.menu ul{
    list-style: none;
    display: flex;
    margin-right: 30px;
}
.menu ul li{
    padding: 0 20px;
}
nav .title{
    font-weight: 700;
    color:#5229C6;
    font-size: 32px;
}
nav .title a, nav .title a:focus {
    text-decoration: none;
    color: #5229C6;
}
.hero{
    display: flex;
    align-items: center;
    gap: 90px;
    margin: 40px 0;
}
.start{
    background: #5229C6;
    color: #fff;
    border-radius: 100px;
    text-decoration: none;
    padding: 24px 36px;
}
.start:hover{
    background: #371B84;
}
.txt p{
    text-align: justify;
    padding-bottom: 30px;
    color: #757575;
}
.txt-title{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}
.img-hero{
    width: 580px;
    position: relative;
}
.float{
    position: absolute;
    background: #EBE7F94D;
    color: #5229C6;
    padding: 12px 16px;
    width: 400px;
    border-radius: 12px;
}
.f-top{
    top: -60px;
    right: -30px;
}
.f-buttom{
    bottom: -60px;
    left: -40px;
}
@media only screen and (max-width: 768px) {
    nav{
       flex-direction: row;
        justify-content:space-between;
        align-items: center;
        height: 110px;
    }
    
    .hero{
        flex-direction: column;
        align-items: center;
        margin: 40px 0;
    }
    .img-hero{
        width: 358px;
    }
    .img-hero img{
        width: 100%;
        margin: 2px;
    }
    .start{
        font-size: 14px;
    }
    .float{
        position: absolute;
        background: #EBE7F94D;
        color: #5229C6;
        font-size: 15px;
        line-height: 20px;
        padding: 12px 16px;
        width: 298px;
        border-radius: 12px;
    }
}
@media (max-width: 600px) {
    body, button{
        font-size: 14px;
    }
    .txt-title{
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    }
    .nav{
        flex-direction: row;
    }
    .menu ul {
        display: none; /* Hide the menu links on small screens */
        flex-direction: column;
        text-align: left;
        position: absolute;
        top: 110px;
        right: 0;
        background: #FFFFFF;
        color: #757575;
        width: 50%;
        height: 50vh;
        float: right;
        z-index: 1;
    }

    .menu-bar {
        visibility: visible; 
        display: inline; 
    }

    .menu:hover ul {
        display: flex; 
    }

    .menu-bar img {
        width: 30px; 
    }
    .menu .start{visibility: hidden;}
    .float{
       font-size: 12px;
        padding: 12px 16px;
        width: 298px;
        line-height: 16px;
        border-radius: 12px;
    }
    .f-top{
        top: -40px;
        right: 10px;
    }
    .f-buttom{
        bottom: -40px;
        left: 10px;
    }
}