body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 2px 3rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}
.menu{
    display: flex;
    align-items: center;
}
.menu-link{
    text-decoration: none;
    color: #757575;
    font-size: 20px;
}
.menu ul{
    list-style: none;
    display: flex;
    margin-right: 30px;
}
.menu ul li{
    padding: 0 20px;
}
nav .title{
    font-weight: 700;
    color:#5229C6;
    font-size: 40px;
}
.hero{
    display: flex;
    align-items: center;
    gap: 90px;
    margin: 40px 0;
}
.start{
    background: #5229C6;
    color: #fff;
    border-radius: 100px;
    text-decoration: none;
    padding: 24px 36px;
}
.txt p{
    text-align: justify;
    padding-bottom: 30px;
    color: #757575;
}
.txt-title{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}
.img-hero{
    width: 580px;
}
@media only screen and (max-width: 768px) {
    nav{
       flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 110px;
    }
    .hero{
        flex-direction: column;
        align-items: center;
        margin: 40px 0;
    }
    .img-hero img{
        width: 90%;
        margin: 2px;
    }
}