body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 2px 3rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}
.menu{
    display: flex;
    align-items: center;
}
.menu-link{
    text-decoration: none;
    color: #757575;
    font-size: 20px;
}
.menu ul{
    list-style: none;
    display: flex;
    margin-right: 30px;
}
.menu ul li{
    padding: 0 20px;
}
nav .title{
    font-weight: 700;
    color:#5229C6;
    font-size: 40px;
}
nav .title a {
    text-decoration: none;
}
.start{
    background: #5229C6;
    color: #fff;
    border-radius: 100px;
    text-decoration: none;
    padding: 24px 36px;
}
.current{
    color: #5229C6;
    font-weight: 600;
}
section{
    width: 696px;
    margin: auto;
    padding: 32px;
    box-shadow: 0px 2px 16px 0px #EBE7F966;
}
.faq{
    max-width: 700px;
    margin-top: 1rem;
    padding-bottom: 0;
    border-bottom: 1px solid #5229C6;
    cursor: pointer;
    color: #5229C6;
}

.questions{
    display: flex;
    justify-content: space-between;
}
.questions h3{
    font-size: 18px;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.3s ease;
}
.answer p{
    padding-top: 0.5rem;
    line-height: 1.6;
    font-size: 15px;
}
.faq.active .answer {
    max-height: 300px;
}
.faq.active img{
    transform: rotate(180deg);
}
.faq img{
    transition: transform 0.5s ease-in;
}