@import url('https://fonts.cdnfonts.com/css/satoshi');

                
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}
header{
    padding: 2px 3rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}
.menu{
    display: flex;
    align-items: center;
}
.menu-bar{
    visibility: hidden;
}
.menu-link{
    text-decoration: none;
    color: #757575;
    font-size: 20px;
}
.menu ul{
    list-style: none;
    display: flex;
    margin-right: 30px;
}
.menu ul li{
    padding: 0 20px;
}
nav .title{
    font-weight: 700;
    color:#5229C6;
    font-size: 32px;
}
nav .title a {
    text-decoration: none;
}
.start{
    background: #5229C6;
    color: #fff;
    border-radius: 100px;
    text-decoration: none;
    padding: 24px 36px;
}
.current{
    color: #5229C6;
    font-weight: 600;
}
section{
    width: 696px;
    margin: auto;
    padding: 32px;
    box-shadow: 0px 2px 16px 0px #EBE7F966;
}
.faq{
    max-width: 700px;
    margin-top: 1rem;
    padding-bottom: 0;
    border-bottom: 1px solid #5229C6;
    cursor: pointer;
    color: #5229C6;
}

.questions{
    display: flex;
    justify-content: space-between;
}
.questions h3{
    font-size: 18px;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.3s ease;
}
.answer p{
    padding-top: 0.5rem;
    line-height: 1.6;
    font-size: 15px;
}
.faq.active .answer {
    max-height: 300px;
}
.faq.active img{
    transform: rotate(180deg);
}
.faq img{
    transition: transform 0.5s ease-in;
}


@media only screen and (max-width: 768px) {
    nav{
       flex-direction: row;
        justify-content:space-between;
        align-items: center;
        height: 110px;
    }
    
    .hero{
        flex-direction: column;
        align-items: center;
        margin: 40px 0;
    }
    .img-hero{
        width: 358px;
    }
    .img-hero img{
        width: 100%;
        margin: 2px;
    }
    .start{
        font-size: 14px;
    }
    .float{
        position: absolute;
        background: #EBE7F94D;
        color: #5229C6;
        padding: 12px 16px;
        width: 298px;
        border-radius: 12px;
    }
    section{
        width: 389px;
        margin: auto;
        padding: 32px;
        box-shadow: 0px 2px 16px 0px #EBE7F966;
    }
}
@media (max-width: 600px) {
    .nav{
        flex-direction: row;
    }
    .menu ul {
        display: none; /* Hide the menu links on small screens */
        flex-direction: column;
        text-align: left;
        position: absolute;
        top: 110px;
        right: 0;
        background: #FFFFFF;
        color: #757575;
        width: 50%;
        height: 50vh;
        float: right;
        z-index: 1;
        font-size: 18px;
    }

    .menu-bar {
        visibility: visible; 
        display: inline; 
    }

    .menu:hover ul {
        display: flex; 
    }

    .menu-bar img {
        width: 30px; 
    }
    .menu .start{visibility: hidden;}
    .faq{
        font-size: 16px;
        width: 389px;
    }
}
@media (max-width: 400px){
    .faq{
        font-size: 16px;
        width: 389px;
    }
}